<!doctype html>
<html lang="en">

<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Pablo A. Sangenis (pas.com)</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">

</head>

<body>

    <!-- Cabecera del sitio -->
    <header>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

            <!-- Link que esta bien a la derecha -->
            <a class="navbar-brand" href="{% url 'home' %}">Pablo Sangenis</a>

            <!-- Este es el boton que aparece cuando el ancho es pequeño -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Estos son los links de la barra de navegacion -->
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ml-auto">
                    <a class="nav-item nav-link" href="http://twitter.com/molochetem">Twitter</a>
                    <a class="nav-item nav-link" href="{% static 'curriculum.pdf' %}">Currículum</a>
                    <a class="nav-item nav-link" href="{% url 'allblogs' %}">Blog</a>
                </div>
            </div>

        </nav>

    </header>

    <main role="main">

        <!-- Lo primero que hay despues del NavBar es un Jumbotron bien grande -->
        <section class="jumbotron text-center">
            <div class="container">

                <!-- Titulo del jumbotron -->
                <h1 class="jumbotron-heading">Hola, soy Pablo</h1>

                <!-- Texto principal del jumbotron -->
                <p class="lead text-muted">
                    Hey, mi nombre es Pablo Alejandro Sangenis y me encanta la programación, ultimamente estoy especializandome en Django,
                    usando todo el poder de Bootstrap con HTML5 y almacenando toda la información con PostgreSql,
                    este sitio web personal es un buen ejemplo de lo que estoy haciendo.
                </p>

                <!-- Dos link tipo boton al pie del jumbotron -->
                <p>
                    <a href="mailto:sangenispablo@gmail.com" class="btn btn-primary my-2">Evíame un Correo</a>
                </p>
                <p>
                    <img class="mx-auto d-block" src="{% static 'pablo1.jpg' %}" alt="" width="300">
                </p>
            </div>
        </section>

        <div class="album py-5 bg-light">
            <div class="container">

                <div class="row">

                    <!-- Aca vamos a meter un ciclo for para traer todos los registros de jobs -->
                    {% for job in jobs.all %}
                        <div class="col-md-4">
                            <div class="card mb-4 box-shadow">
                                <img class="card-img-top img-fluid" src="{{ job.image.url }}" alt="Card image">
                                <div class="card-body">
                                    <p class="card-text">{{ job.summary }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>

            </div>
        </div>

    </main>

    <!-- Al pie de la pagina se lo recorto mucho y quedo muy simple -->
    <!-- Se podria buscar algo mas completo pero mas adelante -->
    <!-- La parte donde esta la funcion now es parte del lenguaje de plantilla de Django -->
    <footer class="card-footer text-muted">
        <div class="container text-center">
            <p>
                © Pablo Sangenis - Año {% now "Y" %}
            </p>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>

</html>